<?xml version="1.0"?>
<launch>
    <!-- Declare an argument for port -->
    <let name="port" value="/dev/serial1"/>

    <!-- Include mobile_station.launch from ferrari_common -->
    <include file="$(find ferrari_common)/launch/mobile_station.launch">
        <let name="port" value="$(var port)"/>
    </include>

    <!-- Include ground_station.launch from ferrari_common -->
    <include file="$(find ferrari_common)/launch/ground_station.launch"/>

</launch>